---
import Layout from '../layouts/Layout.astro';
import Inicio from '../components/Inicio.astro'
import SobreMi from '../components/SobreMi.astro';
import Proyectos from '../components/Proyectos.astro'
---

<Layout title={"Portafolio de Agustin Perea - Programador"}
description={"Estudiante y programador principiante Full Stack de Buenos Aires, Argentina. Enfocado en el desarrollo de paginas web estaticas y dinamicas. Busco constantemente oportinidades para aprender y crecer en el mundo IT."}>
	<main class="px-4 md:px-[10%] lg:px-[15%] ">
		<Inicio></Inicio>
		<SobreMi></SobreMi>
		<Proyectos></Proyectos>
	</main>
</Layout>


