<footer class="flex justify-between items-center px-5 py-2 backdrop-blur-sm bg-gray-900/50 bg-opacity-50 ">
    <small>Desde Buenos Aires, Argentina</small>
    <h2>Creado por Agustin Perea</h2>
</footer>