---
import Badge from "./Badge.astro"
import PillList from "./PillList.astro"
---

<section id="inicio" class="flex flex-col gap-y-8 pt-20 mb-28 md:mb-24  lg:flex-row lg:gap-x-8 lg:pt-0 items-center justify-center md:h-[100vh] xl:px-36 lg:mb-36">
    <img src="/fotoperfil.jpg" alt="Agustin-Perea-Foto" 
    class=" w-[120px] rounded-full lg:w-[200px] lg:rounded-tl-3xl lg:rounded-br-3xl lg:rounded-tr-[100px] lg:rounded-bl-[100px] shadow-xl shadow-gray-500/80    ">
    <div>
        
            <h1 class="flex flex-col items-center gap-y-2 text-2xl md:flex-row sm:text-3xl md:text-4xl lg:text-5xl text-nowrap font-bold justify-center gap-x-5 mb-6">Agustin Perea <a 
                href="https://www.linkedin.com/in/agustin-perea" 
                target="_blank" 
                rel="noopener" 
                class="flex items-center">
                <Badge>Disponible para trabajar</Badge></a></h1>
            
        
        
        <h2 class=" text-base md:text-xl lg:text-2xl text-pretty opacity-70 mb-6">Estudiante y programador principiante <span class="text-indigo-400 font-bold">Full Stack</span> de Buenos Aires, Argentina. 
            Enfocado en el desarrollo de <span class="text-indigo-400 font-bold">páginas web estáticas y dinámicas</span>. Busco constantemente oportunidades para aprender y crecer en el mundo IT. Siempre queriendo enfrentar nuevos desafíos, colaborar y contribuir a proyectos significativos.
        </h2>
    
        <PillList/>
    </div>
        
</section>