<a {...Astro.props} target="_blank" class="
    bg-indigo-900 text-white bg-opacity-60
    border-indigo-300 border-opacity-20
    rounded-full border-[1px]
    hover:scale-110 hover:bg-opacity-90 hover:border-opacity-60 hover:shadow-md hover:shadow-slate-500/60 transition
    text-sm font-bold
    me-2 px-3 py-1.5
    flex align-middle">
    <slot/>
</a>