---
import Timeline from "./Timeline.astro";
import SchoolIcon from "./Icons/SchoolIcon.astro"
---

<section id="sobre-mi" class="mb-28 md:mb-24 lg:mb-[200px]">
    <div class=" mb-[100px]">
        <h1 class="text-xl sm:text-3xl justify-center lg:text-4xl lg:justify-normal font-bold mb-6 flex items-center"> <SchoolIcon/> Sobre mi</h1>
        <p class="text-base sm:text-lg lg:text-xl opacity-70">Hasta ahora, mi trayectoria profesional ha sido principalmente autodidacta, pero he adquirido valiosos conocimientos y experiencia de diversas fuentes. Después de dedicar tiempo al desarrollo frontend, estoy enfocado en fortalecer mis habilidades en el desarrollo backend. Actualmente, estoy inmerso en tecnologías como Node.js, Express y MongoDB, mientras practico técnicas de testing para garantizar la calidad del software que desarrollo. En el futuro, estoy ansioso por explorar otros lenguajes como Python y C#, junto con los frameworks relacionados. Además, tengo la intención de expandir mis conocimientos en áreas como ciberseguridad y el desarrollo de aplicaciones de escritorio.</p>
    </div>
    
    <Timeline/>

</section>